<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Upfit{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheets '@BpaulinUpfitBundle/Resources/public/bootstrap/css/bootstrap.min.css'
                    '@BpaulinUpfitBundle/Resources/public/bootstrap/css/bootstrap-responsive.min.css'
                     filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
    {% endstylesheets %}
    {% endblock %}
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Espace membre
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
              </ul>
            </li>
          </ul>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    {% block body %}
    {% endblock %}
    </div>

    {% block javascripts %}
    {% javascripts '@BpaulinUpfitBundle/Resources/public/jquery/jquery-1.8.3.min.js'
                   '@BpaulinUpfitBundle/Resources/public/bootstrap/js/bootstrap.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
  </body>
</html>
