<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    {% block stylesheets %}
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheets '@BpaulinUpfitBundle/Resources/public/bootstrap/css/bootstrap.min.css'
                    '@BpaulinUpfitBundle/Resources/public/bootstrap/css/bootstrap-responsive.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
    {% endstylesheets %}
    {% endblock %}
  </head>
  <body>
    <h1>Hello, world!</h1>
    {% block body %}
    {% endblock %}
    {% block javascripts %}
    {% javascripts '@BpaulinUpfitBundle/Resources/public/jquery/jquery-1.8.3.min.js'
                   '@BpaulinUpfitBundle/Resources/public/bootstrap/js/bootstrap.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
  </body>
</html>
