{% extends "::base.html.twig" %}

{% block body %}

<form class="form-horizontal" action="{{ path('user_social_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="controls">
        <button class="btn" type="submit" id='submit-social-new'>Créer</button>
    </div>
</form>

{% endblock %}
