{% extends '::base.html.twig' %}
{% set breadcrumbs = { 'Admin': path('admin_home'),
                       'Clubs': path('admin_club'),
                    }
%}
{% set current_action='Edit' %}
{% if entity.id %}
    {% set actionRoute = 'admin_club_update' %}
    {% set breadcrumbs = breadcrumbs|merge({
                            (entity.name): path('admin_club_show', {'id': entity.id }),
                            'Edit': path('admin_club_edit', {'id': entity.id })
                        })
    %}
{% else %}
    {% set actionRoute = 'admin_club_create' %}
    {% set breadcrumbs = breadcrumbs|merge({
                            'New': path('admin_club_new')
                        })
    %}
{% endif %}

{% block body -%}
{% if entity.id %}
    {% include 'BpaulinUpfitBundle:Club:actions.html.twig' %}
{% endif %}
    <form class="form-horizontal"
          action="{{ path(actionRoute, {'id': entity.id}) }}"
          method="post"
          {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">
                    <i class="icon-ok"></i>
                    {% if entity.id %}Save{% else %}Create{% endif %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
