{% extends '::base.html.twig' %}

{% block body %}
<h1>Administration</h1>
<div class="btn-group btn-group-vertical">
    <a class="btn" href="{{ path('admin_user') }}">Users</a>
    <a class="btn" href="{{ path('admin_club') }}">Clubs</a>
</div>
{% endblock %}
