{% extends '::base.html.twig' %}
{% set breadcrumbs = { 'Admin': path('admin_home')} %}

{% block body %}
<ul class="nav nav-pills">
  <li>
    <a href="{{ path('admin_user') }}">Users</a>
   </li>
   <li>
    <a href="{{ path('admin_club') }}">Clubs</a>
  </li>
</ul>
{% endblock %}
