{% extends "::base.html.twig" %}

{% block body %}
<h1>Welcome!</h1>

<h2>My clubs</h2>
{% for member in members %}
        <div class="btn-group">
        <a class="btn btn-primary" href="{{ path('user_session_program', {'idClub': member.club.id}) }}">
            <strong>{{ member.club.name }}:</strong> Start a session
        </a>
    {% if is_granted('MASTER', member.club) %}
        <a id="user_club_admin" class="btn" href="{{ path('user_club_admin', {'idClub': member.club.id}) }}">
            Administration
        </a>
        </div>
    {% endif %}
{% else %}
{% endfor %}
{#<a id="user_club_create" class="btn btn-primary" href="{{ path('user_club_create') }}">Créer mon club</a>#}
{% endblock %}
